<h3>Busqueda</h3>
<br>
<form [formGroup]="myForm" (submit)="onFormSubmit()">
    <div class="mb-3">
      <label class="form-label">Ingresa una ciudad</label>
      <input type="text" class="form-control" formControlName="cityName" placeholder="Nombre de la ciudad">
            <span class="form-text text-danger"
             *ngIf="fieldIsValid('cityName')"
            >
                Este campo es obligatorio
            </span>
      <br>
      <button type="submit"
              class="mt-2 btn btn-primary float-end"
              [disabled]="myForm.invalid">
        Obtener Clima
      </button>
    </div>
</form>
<br>
<div class="row mt-5"
      *ngIf="loading">
    <div class="col">
        <div class="alert alert-primary">
            Cargando....
        </div>
    </div>
</div>


