<div class="container-fluid">
    <div class="row">
        <div class="col-4 mt-5 offset-md-4">
          <div class="card">
              <h5 class="card-header"> API Open Weather</h5>
              <div class="card-body">
                <h5 class="card-title">Proyecto para consulta del clima</h5>
                <p class="card-text">proyecto que permite buscar una ciudad y obtener el estado del clima</p>
                <button routerLink="/home/search"
                        class="btn btn-primary"
                        type="button"
                        >
                        Toca aquí para empezar
                </button>
              </div>
          </div>
        </div>
    </div>
</div>

